@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{letter-spacing: 3px;color: #919191;}

#main{padding: 20px 30px 0px 30px; width: 100%; height: 100%; position: relative;}
#main > #main-menu > #nav-bar{display: flex;justify-content: space-between; position: relative; z-index: 999;}
#main > #main-menu > #nav-bar > .logo > figure > img{max-width: 80px;}
#main > #main-menu > #nav-bar > .link{padding-top: 20px;}
#main > #main-menu > #nav-bar > .link a{padding: 0 10px; text-decoration: none; color: #000; font-size: 17pt; font-weight: bold; letter-spacing: 3px;}
#main > #main-menu > #nav-bar > .link a:hover{transition: all ease 0.5s; color: #fff; background: #929292; border-radius: 4px;}
#main > #main-menu > #nav-bar > .contact{padding-top: 20px; color: #fff;}
#main > #main-menu > #nav-bar > .contact > span{border: 1px solid #919191; background: #919191; border-radius: 5px; padding: 5px; font-size: 16pt;}

#main > .banner{background: url(img/banner.jpg); background-size: cover; background-repeat: no-repeat; display: block; position: absolute; width: 100%; height: 300px; left: 0px; top: 0px; background-attachment: fixed; background-position-y: -140px; opacity: 0.6;}
#main > .banner > .circle{width: 100%; height: 80px; background-color: #fff; position: absolute; bottom: -10px; border-radius: 50% 50% 0 0;}

#main > #content{position: relative; margin-top: 200px; margin-bottom: 50px;}
#main > #content > section{margin-bottom: 30px;}
#main > #content > .join{display: flex; flex-wrap: wrap; justify-content: center;}
#main > #content > .join > .img-right{border-radius: 50%; overflow: hidden; width: 40%; max-height: 350px; max-width: 350px;}
#main > #content > .join > .img-right > figure{width: 100%;}
#main > #content > .join > .text{width: 50%; padding: 40px 30px;}
#main > #content > .join > .text > h2{font-size: 33pt; text-transform: uppercase; margin-bottom: 20px;}
#main > #content > .join > .text > .btn-see{margin-top: 30px;}
#main > #content > .join > .text > .btn-see > button{padding: 5px 10px; font-size: 14pt; border: 1px solid #919191; color: #919191;cursor: pointer; border-radius: 5px;}
#main > #content > .join > .text > .btn-see > button:hover{transition: all ease 0.5s; background: #919191; color: #fff}

#main > #content > .about{display: flex; flex-wrap: wrap; justify-content: center;}
#main > #content > .about > .img-left{border-radius: 50%; overflow: hidden; width: 40%; max-height: 350px; max-width: 350px;}
#main > #content > .about > .img-left > figure{width: 100%;}
#main > #content > .about > .text{width: 50%; padding: 40px 30px;}
#main > #content > .about > .text > h2{font-size: 33pt; text-transform: uppercase; margin-bottom: 20px;}
#main > #content > .about > .text > .btn-see{margin-top: 30px;}
#main > #content > .about > .text > .btn-see > button{padding: 5px 10px; font-size: 14pt; border: 1px solid #919191; color: #919191;cursor: pointer; border-radius: 5px;}
#main > #content > .about > .text > .btn-see > button:hover{transition: all ease 0.5s; background: #919191; color: #fff}

#footer{background:#919191; width: 100%; height: 50px; display: flex; justify-content: space-around; padding: 15px 30px; text-transform: uppercase; font-weight: bold; letter-spacing: 3px; color: #fff;}


